/* Global styles */
.container{
    background: white;
}
body{
    background: purple;
    font-family: Georgia, Times New Roman, Times, serif
}
p  {
    font-size: 15px;
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
    text-align: justify;
}
a {
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
}

h3 {
    text-align: center;
    font-family: Georgia, Times New Roman, Times, serif;
     color: #54075B;
}
ul {
    font-size: 15px;
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
}
/* Header Styles */
header {

    background-image: url('http://www.onelifefineart.com/images/OLindex_01.gif');
    background-size: cover;
    background-position: center;
    width: 100%;
}
header img {
    margin-top: 8px;
    width: 30%;
}
.header-menu {
    width: 150px;
    text-transform: capitalize;
    float: right;
}
.art-menu,
.commissions-menu,
.blog-menu,
.about-menu {
    margin: 4px;
    padding-left: 2px;
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
    text-transform: uppercase;
}
.art-menu {
    background: #CF42FF;
}
.commissions-menu {
    background: #C46B20;
}
.blog-menu {
    background: #BBC02A;
}
.about-menu {
    background: #BABCBE;
}
.name-header {
    text-align: center;
    text-transform: uppercase;
    padding: -4px;
    width: 100%;
    background: white;
    color: #54075B;
    font-family: Georgia, Times New Roman, Times, serif;
}
.name-header h1 {
    margin: -4px;
    padding: 0;

}
.name-header img {
    margin: -4px;
    width: 100%
}
.name-header {
    text-align: center;
    text-transform: uppercase;
    padding: -4px;
    width: 100%;
    background: white;
    color: #54075B;
    font-family: Georgia, Times New Roman, Times, serif;
}
.menu-header img {
    margin: -4px;
    width: 100%
}
.menu-header-menu {
    display: table;
    width: 100%;
    padding: -4px;
}
.menu-header ul {
    /* min-width: 696px; */
	list-style: none;
	padding: 0;
    font-size: 1em;
    max-width: 100%;
}
.menu-header li {
    display: inline;
    margin-left: 2%;
}
.mobile-header-menu {
    display: none;
    float: left;
}

.mobile-dropdown {
    display: none;
    float: right;
    margin: 5% 0;
}
/* hero */
.hero {
    margin:0;
}
.hero img {
    width: 100%
}
/* messages section */

.messages {
    background: #BBC02A;
    width: 100%;
}
.messages h2 {
    text-align: center;
    color: #54075B;
    ;
}
.column1,
.column2,
.column3 {
    width: 32%;
    padding: 10px;
    float: left;
    color:  #54075B;
}

.projects img {
    width: 100%;
}
.column3 img {
    width: 100%;
}


.giving-thanks {
    width: 100% auto;
    }
footer {
    text-align: center;
    color: purple;
}
/* .about-body {
    width: 100%;
    float: left;
} */
.about-picture {
    width: 25%;
    float: left;
    margin: 2%;
}
.about-picture img {
    width: 100%;
}
.about-cv {
    margin: 2%;

}
.about-cv h2 {
    text-align: left;
    color: purple;
    font-size: 1.5em;
}
.about-cv h3 {
    text-align: left;
    color: green;
    font-size: 1.5em;
}
.about-cv h4 {
    text-align: left;
    color: purple;
    font-weight: bold;
    font-size: 20px;
}
.about-cv li {
    font-family: monospace;
}
@media (max-width:992px) {
    .giving-thanks {
        display: none;
    }
}

@media (max-width: 768px) {
    .name-header h1 {
        font-size: 30px;
    }
    .header-menu {
        display: none;
    }
    .column2 {
        display: none;
    }
    .column1,
    .column3 {
        width: 49%;
    }
    header {
        background-position: center;
    }
    .mobile-header-menu {
        display: block;
    }
    .menu-header-menu {
        display: none;
    }
    .mobile-dropdown {
        display: block;
    }
    .mobile-dropdown a {
        font-family: Georgia, Times New Roman, Times, serif;
        color: #54075B;
    }
    .giving-thanks {
        display: none;
    }
}
@media (max-width:550px) {
    .column1 {
        display: none;
    }
    .column3 {
        width: 100%;
    }

}
